@use "sass:color";
@use "sass:math";


$color-primary: rgb(158, 218, 255)!default;
$color-primary-lighter: color.scale($color-primary, $lightness: 20%)!default;
$color-primary-lightest: color.scale($color-primary, $lightness: 50%)!default;
$color-primary-darker: color.scale($color-primary, $lightness: -20%)!default;
$color-primary-darkest: color.scale($color-primary, $lightness: -50%)!default;

$color-secondary:  rgb(169, 169, 169)!default;


//breakpoints:

//1200px
$breakpoint-lg: 75em!default;

// 992px 
$breakpoint-md: 62em!default;

// 768px
$breakpoint-sm: 48em!default;

// 576px
$breakpoint-xs: 36em!default;

// 400px
$breakpoint-xxs: 25em!default;

//335px
$breakpoint-xxxs: 20.938em!default;